.node/
.npm-cache/
.venv/
node_modules/
__pycache__/
*.py[cod]
.DS_Store
.vercel
.env*
backend/ecomproject/media/uploads/*
backend/ecomproject/media/processed/*
backend/ecomproject/staticfiles/
backend/ecomproject/*.sqlite3
